/* Autor: Mateo Álvarez Murillo
Fecha de creación: 2023

Este código se proporciona bajo la Licencia MIT.
Para más información, consulta el archivo LICENSE en la raíz del repositorio. */

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 10px; 
  }

  ::-webkit-scrollbar-thumb {
    background-color: #5978E0;
  }

  * {
    scrollbar-width: thin; 
    scrollbar-color: #5978E0 #46409C;
  }

  html {
    font-family: "Rubik", sans-serif;
  }

  body {
    font-size: 18px;
  }
}
